<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<title>Agregar nueva ciudad</title>
</head>
<body class="well">
	<div class="page-header text-center info">
            <h1 style="color:#800080;">Agregar Nueva</h1>
            <h3 style="color:#595959;">Ciudad</h3>
    </div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-2"> </div>
			<div class="col-md-8"> 
				<form id="messageForm" th:action="@{/ciudades}" th:object="${ciudad}" action="#" method="post">
				
				<input type="hidden" th:field="*{ident}" />
				
				<div class="form-group">
					<p><label for="nombre">Ciudad</label></p>
					<p><input class="text-center" type="text" th:field="*{nombre}"/></p>
				</div>
				<div class="form-group">
					<p><label for="departamento">Departamento</label></p>
					<p><input class="text-center" type="text" th:field="*{departamento}"/></p>
				</div>
				<div class="form-group">
					<p><label for="habitantes">Numero de habitantes</label></p>
					<p><input class="text-center" type="text" th:field="*{habitantes}"/></p></div>
				<div class="form-group">
					<p><label for="importancia">Posición de Importantacia</label></p>
					<p><input class="text-center" type="text" th:field="*{importancia}"/></p>
				</div>
				<div class="form-group">
					<p><label for="gentilicio">Gentilicio</label></p>
					<p><input class="text-center" type="text" th:field="*{gentilicio}"/></p>
				</div>
				<input type="hidden" th:field="*{activo}"/>
				<div th:if="${message != ''}" class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismis="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Warning!</strong><div th:text="${message}"></div>
				</div>
			<div class="form-actions">
				<input class="btn btn-info" type="submit" name="save" value="Guardar" />
				<a class="btn btn-info" th:href="@{/ciudades}">Cancelar</a>
			</div>
		</form>

			</div>
 			<div class="col-md-2"> </div>
 		</div>
	</div>
	 
 	
</body>	
</html>